<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IDValidationServlet</servlet-name>
        <servlet-class>za.ac.tut.web.IDValidationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IDValidationServlet</servlet-name>
        <url-pattern>/IDValidationServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>home_affairs_email</param-name>
        <param-value>querries@dha.gov.za</param-value>
    </context-param>
    <context-param>
        <param-name>home_affairs_number</param-name>
        <param-value>087 7777 000</param-value>
    </context-param>
</web-app>
